@model Audiobook
@{
    Series series = null;
    SeriesBook seriesBook = null;
    IEnumerable<BookAuthor> bookAuthors = null;
    IEnumerable<BookNarrator> bookNarrators = null;
    if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "edit")
    {
        bookAuthors = await DatabaseContext.BookAuthors.AsNoTracking().Include(e => e.Author).Where(e => e.AudiobookId == Model.Id).ToListAsync();
        bookNarrators = await DatabaseContext.BookNarrators.AsNoTracking().Include(e => e.Narrator).Where(e => e.AudiobookId == Model.Id).ToListAsync();
        seriesBook = await DatabaseContext.SeriesBooks.AsNoTracking().FirstOrDefaultAsync(e => e.AudiobookId == Model.Id);
        if (seriesBook != null)
        {
            series = await DatabaseContext.Series.AsNoTracking().FirstOrDefaultAsync(e => e.Id == seriesBook.SeriesId);
        }
    }

}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CategoryId" class="control-label"></label>
    <select class="form-control" asp-for="CategoryId">
        <option value=""></option>
        @foreach (var item in await AudiobookService.GetCategories())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>
<div class="form-group">
    <label class="control-label">Author(s)</label>
    <input id="authors" name="authors" class="form-control" />
</div>

@if (bookAuthors != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in bookAuthors)
            {
                <tr>
                    <td>@item.Author.Name</td>
                    <td><a asp-action="DeleteBookAuthor" asp-controller="Audiobooks" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="form-group">
    <label class="control-label">Narrator(s)</label>
    <input id="narrators" name="narrators" class="form-control" />
</div>
@if (bookNarrators != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Narrators</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in bookNarrators)
            {
                <tr>
                    <td>@item.Narrator.Name</td>
                    <td><a asp-action="DeleteBookNarrator" asp-controller="Audiobooks" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="form-group">
    <label asp-for="Url" class="control-label"></label>
    <input asp-for="Url" class="form-control" />
    <span asp-validation-for="Url" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageUrl" class="control-label"></label>
    <input asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Length" class="control-label"></label>
    <input asp-for="Length" class="form-control" />
    <span asp-validation-for="Length" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="Error" /> @Html.DisplayNameFor(model => model.Error)
    </label>
</div>

<div class="form-group">
    <label class="control-label">Series</label>
    <input id="series" name="series" class="form-control" />
</div>


<div class="form-group">
    <label class="control-label">Series Number</label>
    <input id="seriesNumber" name="seriesNumber" class="form-control" value="0" />
</div>

@if (series != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Series</th>
                <th>Series Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@series.Name</td>
                <td>@seriesBook.SeriesNumber</td>
                <td><a asp-action="DeleteSeriesBook" asp-controller="Audiobooks" asp-route-id="@seriesBook.Id">Delete</a></td>
            </tr>
        </tbody>
    </table>
}