@model AudiobookDetailViewModel

@{
    var audiobook = @Model.Audiobook;
    ViewData["Title"] = audiobook.Name;
    Layout = "_LayoutDetail";
}

@section Head
{
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="@audiobook.Description">
<meta name="keywords" content="Audiobooks, @audiobook.Name, @audiobook?.Category?.Name, @*@audiobook.Author*@">
<meta property="og:url" content="@Url.Action("Detail", "Home", new { id = audiobook.Id }, "http")" />
<meta property="og:type" content="website" />
<meta property="og:title" content="@ViewData["Title"] - Audiobooks" />
<meta property="og:description" content="@audiobook.Description" />
<meta name="author" content="http://www.audio-bux.link">
    @if (!string.IsNullOrWhiteSpace(audiobook.ImageUrl))
    {
<meta property="og:image" content="@audiobook.ImageUrl" />
    }
    else
    {
<meta property="og:image" content="http://www.audio-bux.link/images/background.jpg" />
    }
}

<div class="container bg-white">
    <section class="service-2 section">
        <div class="container">
            @if (User.IsInRole("Admin"))
            {
                <partial name="_AdminOptions" model="Model" />
            }
            else
            {
                <div class="mb-5"></div>
            }

            <div class="row">
                <div class="col-lg-4 col-sm d-flex flex-column">
                    <img src="@audiobook.ImageUrl" class="w-100 rounded-lg" />
                    <div class="sharethis-inline-share-buttons mt-2"></div>
                </div>
                <div class="col-lg-8 col-sm d-flex flex-column">
                    <div class="row w-100 p-2">
                        <table class="table table-striped table-borderless">
                            <tbody>
                                <tr class="d-flex justify-content-between h3">
                                    <th>Title</th>
                                    <td style="text-align:end;">@Model.Audiobook.Name</td>
                                </tr>
                                <tr class="d-flex justify-content-between h3">
                                    <th>@(Model.Authors.Count() > 1 ? "Authors" : "Author")</th>
                                    <td style="text-align:end;">
                                        @foreach (var item in Model.Authors)
                                        {
                                            var authorSlug = await SlugService.GetSlugForEntity<Author>(item);
                                            if (item != Model.Authors.Last())
                                            {
                                                <span class="font-italic">
                                                    <a asp-controller="Home" asp-action="Author" asp-route-id="@authorSlug.Name">@item.Name</a>,
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="font-italic">
                                                    <a asp-controller="Home" asp-action="Author" asp-route-id="@authorSlug.Name">@item.Name</a>
                                                </span>
                                            }

                                        }
                                    </td>
                                </tr>
                                <tr class="d-flex justify-content-between h3">
                                    <th >@(Model.Narrators.Count() > 1 ? "Narrators" : "Narrator")</th>
                                    <td style="text-align:end;">
                                        @foreach (var item in Model.Narrators)
                                        {
                                            var narratorSlug = await SlugService.GetSlugForEntity<Narrator>(item);
                                            if (item != Model.Narrators.Last())
                                            {
                                                <span class="font-italic">
                                                    <a asp-controller="Home" asp-action="Narrator" asp-route-id="@narratorSlug.Name">@item.Name</a>,
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="font-italic">
                                                    <a asp-controller="Home" asp-action="Narrator" asp-route-id="@narratorSlug.Name">@item.Name</a>
                                                </span>
                                            }

                                        }
                                    </td>
                                </tr>
                                <tr class="d-flex justify-content-between h3">
                                    <th >Category</th>
                                    @{
                                        var categorySlug = await SlugService.GetSlugForEntity<Category>(Model.Audiobook.Category);
                                    }
                                    <td style=" text-align:end;"><a asp-action="Category" asp-controller="Home" asp-route-id="@categorySlug.Name">@Model.Audiobook.Category.Name</a></td>
                                </tr>
                                <tr class="d-flex justify-content-between h3">
                                    <th >Length</th>
                                    <td style="text-align:end;">@Model.Audiobook.Length</td>
                                </tr>
                                @if (Model.Series != null)
                                {
                                    var seriesSlug = await SlugService.GetSlugForEntity<Series>(Model.Series);
                                    <tr class="d-flex justify-content-between h3">
                                        <th >Series</th>
                                        <td style="text-align:end;"><a asp-controller="Home" asp-action="BookSeries" asp-route-id="@seriesSlug.Name" asp-route-sort="Series">@Model.Series.Name</a> - Book @Model.CurrentSeriesBook.SeriesNumber.ToString("0.##")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(audiobook.Url))
                    {
                        <div class="row mt-5 w-100 h-100 align-content-end d-flex justify-content-end">
                            <a href="@audiobook.Url" target="_blank" class="btn btn-lg btn-primary text-center">Download</a>
                        </div>
                    }
                    else
                    {
                        <div class="row mt-5 w-100 h-100 align-content-end d-flex justify-content-end">
                            <a href="#" target="_blank" class="btn btn-lg btn-primary text-center" disable>Not Currently Available</a>
                        </div>
                    }
                </div>
            </div>

            <hr />

            @* @if (Model.Sample != null)
                {
                <h5>Sample</h5>
                <audio controls="controls" preload="none">
                <source src="data:@Model.Sample.ContentType;base64, @Convert.ToBase64String(Model.Sample.Data)" type="audio/mp3">
                </audio>
                <hr />
                }*@

            <div class="container">
                <div class="row mt-3">
                    <div class="col-12">
                        <h3>Description:</h3>
                    </div>
                    <p class="p-3">
                        @audiobook.Description
                    </p>
                </div>
            </div>

            <hr />
            @if (Model.Recommendation != null)
            {
                <div class="container">
                    <div class="row mt-3">
                        <div class="col-12">
                            <h3>Editor Recommendation:</h3>
                        </div>
                        <p class="textlarge p-3">
                            @Model.Recommendation.Description
                        </p>
                    </div>
                </div>
                <hr />
            }
            <div class="container">
                @if (Model.Series != null)
                {
                    <h3>@Model.Series.Name Series</h3>
                    <div class="row p-3">
                        <div class="owl-carousel owl-theme" id="series-carousel">
                            @foreach (var item in Model.SeriesBooks@*.OrderBy(a => a.SeriesNumber)*@)
                            {
                                var slug = await SlugService.GetSlugForEntity(item);
                                <a asp-action="Detail" asp-controller="Home" asp-route-id="@slug.Name">
                                    <img src="@item.ImageUrl" class="rounded-lg w-100" />
                                    <p>@item.Name @*- @item.Series Book @item.SeriesNumber*@</p>
                                </a>
                            }
                        </div>
                    </div>
                }
                @if (Model.AuthorBooks.Any())
                {
                    <h3>
                        Books written by
                        @foreach (var author in Model.Authors)
                        {
                            if (author != Model.Authors.Last())
                            {
                                <text>@author.Name, </text>
                            }
                            else
                            {
                                <text>@author.Name</text>
                            }
                        }
                    </h3>
                    <div class="row p-3">
                        <div class="owl-carousel owl-theme" id="author-carousel">
                            @foreach (var item in Model.AuthorBooks)
                            {
                                var slug = await SlugService.GetSlugForEntity(item);
                                <a asp-action="detail" asp-controller="home" asp-route-id="@slug.Name">
                                    <img src="@item.ImageUrl" class="rounded-lg w-100" />
                                    <p>@item.Name</p>
                                </a>
                            }
                        </div>
                    </div>
                }
                @if (Model.NarratorBooks.Any())
                {
                    <h3>
                        Books read by
                        @foreach (var narrator in Model.Narrators)
                        {
                            if (narrator != Model.Narrators.Last())
                            {
                                <text>@narrator.Name, </text>
                            }
                            else
                            {
                                <text>@narrator.Name</text>
                            }
                        }
                    </h3>
                    <div class="row p-3">
                        <div class="owl-carousel owl-theme" id="narrator-carousel">
                            @foreach (var item in Model.NarratorBooks)
                            {
                                var slug = await SlugService.GetSlugForEntity(item);
                                <a asp-action="detail" asp-controller="home" asp-route-id="@slug.Name">
                                    <img src="@item.ImageUrl" class="rounded-lg w-100" />
                                    <p>@item.Name</p>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div> <!-- End container -->
    </section>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $("#series-carousel").owlCarousel({
            loop: false,
            rewind: true,
            margin: 10,
            nav: false, responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }

        });
        $("#author-carousel").owlCarousel({
            loop: false,
            rewind: true,
            margin: 10,
            nav: false, responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }

        });
        $("#narrator-carousel").owlCarousel({
            loop: false,
            rewind: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }

        });
    });
</script>
}