@model IEnumerable<Audiobooks.Models.Audiobook>

@{
    ViewData["Title"] = "Index";
    // var errorReports = await DatabaseContext.ErrorReports.AsNoTracking().ToListAsync();
    var totalDownloads = Model.Sum(e=>e.Downloads);
    var totalErrors = Model.Where(e => e.Error).Count();
    var bookCount = Model.Count();
}
<div class="container">
    <h1>Index</h1>

    <div class="row">
        <div class="col p-3">
            <a asp-action="Create" class="btn btn-primary mr-2">Create New</a>
            <a asp-action="GenerateSlugs" asp-controller="Slugs" asp-area="Admin" class="btn btn-info mr-2">Generate Slugs</a>
            @* @if (errorReports.Any(e => e.ErrorStatus != ErrorStatus.Resolved))
            {
                <a asp-action="Index" asp-controller="ErrorReport" asp-area="Admin" class="btn btn-warning mr-2">Error Reports (@errorReports.Count(e=>e.ErrorStatus != ErrorStatus.Resolved))</a>
            }
            @if (errorReports.Count() > 0)
            {
                <a asp-action="DeleteAllErrorReports" class="btn btn-danger mr-2">Delete All</a>
            } *@


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#exampleModal">
                Import Catalogue
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal2">
                Import Authors
            </button>
        </div>
        
    </div>

    <hr />
    <div class="row">
        <div class="col">
            <p class="h3 py-2">Total Books: <b>@bookCount</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h3 py-2">Total Downloads: <b>@totalDownloads</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h3 py-2">Total Errors: <b>@totalErrors</b></p>
        </div>
    </div>
    <hr />

    <!-- Modals -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal2Label">Import Authors ,Etc</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="AddAuthorsAndNarrators" asp-area="Admin" asp-controller="Audiobooks" method="post" enctype="multipart/form-data">
                        <input class="form-control-file" type="file" name="file" />
                        <div class="form-group">
                            <input type="submit" value="Upload" class="btn btn-primary mt-2" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Import Catalogue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="importcatalogue" asp-area="admin" asp-controller="audiobooks" method="post" enctype="multipart/form-data">
                        <input class="form-control-file" type="file" name="file" />
                        <div class="form-group mt-3">
                            <input type="submit" value="upload" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <table class="table table-striped mb-5" id="booktable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Error)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Downloads)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Error)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Downloads)
                    </td>
                    <td>
                        @item.DateAdded.ToLocalTime()
                    </td>
                    <td>
                        <div class="row">
                            <div class="dropdown show">
                                <a class="btn btn-info dropdown-toggle mr-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </div>
                            <a href="@item.Url" target="_blank" class="btn btn-info mr-1">Check</a>
                            @if (!item.Error)
                            {
                                <a asp-action="ReportError" asp-controller="ErrorReport" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-warning">Problem</a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>




@section Scripts{
<script>
    $(document).ready(function () {
        $('#booktable').DataTable();
    });
</script>
}

