@model IEnumerable<Audiobooks.Models.Audiobook>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Index</h1>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBooksModal">
        <h4>Import Catalogue</h4>
    </button>*@

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <!-- Button trigger modal -->


    <table class="table table-striped mb-5" id="booktable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Narrator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Narrator)
                    </td>
                    <td>
                        @item.DateAdded.ToLocalTime()
                    </td>
                    <td>
                        <div class="dropdown show">
                            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@*<!-- Modal -->
<div class="modal fade" id="addBooksModal" tabindex="-1" role="dialog" aria-labelledby="addBooksModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBooksModalLabel">Import Catalogue CSV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ImportCatalogue" asp-area="Admin" asp-controller="Audiobooks" method="post" enctype="multipart/form-data">
                    <input class="form-control-file" type="file" name="file" />
                    <div class="form-group mt-3">
                        <input type="submit" value="Upload" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@


@section Scripts{
<script>
    $(document).ready(function () {
        $('#booktable').DataTable();
    });
</script>
}

