@model IEnumerable<Audiobooks.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped" >
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr><td>@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="dropdown show">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#cattable').DataTable();
        });
    </script>
}